/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

/*body {*/
/*  font-family: var(--font-family);*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/


.login-container {
  width: 800px !important;
  margin-top: 15%;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 1.75rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #eee;
  border: 1px solid #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 0.5rem;
  top: 0.15rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.user-details-container {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 20px;
  text-align: center;
  max-width: 300px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.user-name {
  font-size: 1.2em;
  font-weight: bold;
}

.user-id {
  margin-top: 10px;
  font-size: 0.9em;
}






html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
