<div class="container" style="font-family: Arial, sans-serif; max-width: 1200px; margin: 70px auto; padding: 20px;">
  <h1 style="font-size: 36px; text-align: center;">About Us</h1>
  <p style="font-size: 18px; line-height: 1.6; text-align: justify;">
    We are excited to share that we are about to graduate from Astana IT University,
    where we have spent years developing our skills and knowledge.
    Our diploma project is the Volunteering Coordination Application,
    which represents the culmination of our academic journey.
    This project reflects our dedication and creativity, and we are eager to demonstrate our hard work.
    Through this application, we aim to make a positive impact and showcase the full extent of what we've learned.
    Join us as we embark on this exciting new chapter, bringing our vision to life and contributing to the community.
  </p>
  <h2 style="font-size: 28px; text-align: center; margin-top: 40px;">Our Team</h2>
  <div class="team" style="display: flex; justify-content: space-around; margin-top: 20px;">
    <div class="team-member" style="text-align: center; flex: 1; margin: 10px;">
      <img src="https://media.licdn.com/dms/image/D4D03AQGr1SuFZGiT3w/profile-displayphoto-shrink_200_200/0/1685078228518?e=1723680000&v=beta&t=v7avHaf7GatZiBDYVld6vgLHSMffDilmajMiGS60gp0" alt="Aisultan Zhaksytayev" style="border-radius: 50%; width: 150px; height: 150px;">
      <h3 style="font-size: 24px; margin-top: 10px;">Aisultan Zhaksytayev<br>Software Engineering major<br>SE-2109</h3>
    </div>
    <div class="team-member" style="text-align: center; flex: 1; margin: 10px;">
      <img src="https://media.licdn.com/dms/image/D4D03AQEIWYpmRMc_iw/profile-displayphoto-shrink_200_200/0/1717360520773?e=1723680000&v=beta&t=aaLKqEW_lh7RPE4XBlfUnr0mzVzudwXlqOTbR5fMGNs" alt="Erasyl Serikov" style="border-radius: 50%; width: 150px; height: 150px;">
      <h3 style="font-size: 24px; margin-top: 10px;">Erasyl Serikov <br>Computer Science major<br>IT-2101</h3>
    </div>
  </div>
</div>
